services:
  zitadel:
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=${TRAEFIK_NETWORK:-edge-external}"
        # Router: Zitadel Main
        - "traefik.http.routers.zitadel.rule=Host(`${ZITADEL_HOSTNAME:-auth.example.com}`) && !PathPrefix(`/ui/v2/login`)"
        - "traefik.http.routers.zitadel.entrypoints=websecure"
        - "traefik.http.routers.zitadel.tls.certresolver=letsencrypt"
        - "traefik.http.routers.zitadel.service=zitadel"
        # Service: Zitadel Main (HTTP/2 on Port 8080)
        - "traefik.http.services.zitadel.loadbalancer.server.port=8080"
        - "traefik.http.services.zitadel.loadbalancer.server.scheme=h2c"

    restart: unless-stopped
    image: ghcr.io/zitadel/zitadel:latest
    command: start-from-init --masterkey "${ZITADEL_MASTERKEY:-MasterkeyNeedsToHave32Characters}"
    environment:
      ZITADEL_EXTERNALDOMAIN: ${ZITADEL_HOSTNAME:-auth.example.com}
      ZITADEL_EXTERNALPORT: ${ZITADEL_EXTERNALPORT:-443}
      ZITADEL_EXTERNALSECURE: "${ZITADEL_EXTERNALSECURE:-true}"
      ZITADEL_TLS_ENABLED: "false"

      # Database connection settings.
      ZITADEL_DATABASE_POSTGRES_HOST: db
      ZITADEL_DATABASE_POSTGRES_PORT: 5432
      ZITADEL_DATABASE_POSTGRES_DATABASE: ${ZITADEL_DATABASE_POSTGRES_DATABASE:-zitadel}
      ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME: postgres
      ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD: ${POSTGRES_ADMIN_PASSWORD:-postgres}
      ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE: disable
      ZITADEL_DATABASE_POSTGRES_USER_USERNAME: zitadel
      ZITADEL_DATABASE_POSTGRES_USER_PASSWORD: ${ZITADEL_DB_PASSWORD:-zitadel}
      ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE: disable

      ZITADEL_FIRSTINSTANCE_LOGINCLIENTPATPATH: /current-dir/login-client.pat
      ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORDCHANGEREQUIRED: "false"
      ZITADEL_FIRSTINSTANCE_ORG_LOGINCLIENT_MACHINE_USERNAME: login-client
      ZITADEL_FIRSTINSTANCE_ORG_LOGINCLIENT_MACHINE_NAME: Automatically Initialized IAM_LOGIN_CLIENT
      ZITADEL_FIRSTINSTANCE_ORG_LOGINCLIENT_PAT_EXPIRATIONDATE: '2029-01-01T00:00:00Z'

      ZITADEL_DEFAULTINSTANCE_FEATURES_LOGINV2_REQUIRED: "true"
      ZITADEL_DEFAULTINSTANCE_FEATURES_LOGINV2_BASEURI: ${ZITADEL_SCHEME:-https}://${ZITADEL_HOSTNAME:-auth.example.com}:${ZITADEL_EXTERNALPORT:-443}/ui/v2/login
      ZITADEL_OIDC_DEFAULTLOGINURLV2: ${ZITADEL_SCHEME:-https}://${ZITADEL_HOSTNAME:-auth.example.com}:${ZITADEL_EXTERNALPORT:-443}/ui/v2/login/login?authRequest=
      ZITADEL_OIDC_DEFAULTLOGOUTURLV2: ${ZITADEL_SCHEME:-https}://${ZITADEL_HOSTNAME:-auth.example.com}:${ZITADEL_EXTERNALPORT:-443}/ui/v2/login/logout?post_logout_redirect=
      ZITADEL_SAML_DEFAULTLOGINURLV2: ${ZITADEL_SCHEME:-https}://${ZITADEL_HOSTNAME:-auth.example.com}:${ZITADEL_EXTERNALPORT:-443}/ui/v2/login/login?samlRequest=

      ZITADEL_FIRSTINSTANCE_ORG_NAME: ${ZITADEL_ORG_NAME:-MyOrg}
      ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME: ${ZITADEL_ADMIN_USERNAME:-zitadel-admin}
      ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD: ${ZITADEL_ADMIN_PASSWORD:-Password1!}

      ZITADEL_LOG_LEVEL: debug
      ZITADEL_LOGSTORE_ACCESS_STDOUT_ENABLED: true

    healthcheck:
      test:
        - CMD
        - /app/zitadel
        - ready
      interval: 10s
      timeout: 60s
      retries: 5
      start_period: 10s
    user: "0"
    volumes:
      - zitadel-init-data:/current-dir
    networks:
      - zitadel
      - traefik-net
    depends_on:
      db:
        condition: service_healthy

  login:
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=${TRAEFIK_NETWORK:-edge-external}"
        # Router: Login V2
        - "traefik.http.routers.zitadel-login.rule=Host(`${ZITADEL_HOSTNAME:-auth.example.com}`) && PathPrefix(`/ui/v2/login`)"
        - "traefik.http.routers.zitadel-login.entrypoints=websecure"
        - "traefik.http.routers.zitadel-login.tls.certresolver=letsencrypt"
        - "traefik.http.routers.zitadel-login.service=zitadel-login"
        # Service: Login V2 (HTTP on Port 3000)
        - "traefik.http.services.zitadel-login.loadbalancer.server.port=3000"
        - "traefik.http.services.zitadel-login.loadbalancer.server.scheme=http"
    restart: unless-stopped
    image: ghcr.io/zitadel/zitadel-login:latest
    environment:
      - ZITADEL_API_URL=http://zitadel:8080
      - NEXT_PUBLIC_BASE_PATH=/ui/v2/login
      - ZITADEL_SERVICE_USER_TOKEN_FILE=/current-dir/login-client.pat
      - CUSTOM_REQUEST_HEADERS=Host:${ZITADEL_HOSTNAME:-auth.example.com}
    networks:
      - zitadel
      - traefik-net
    user: "0"
    volumes:
      - zitadel-init-data:/current-dir:ro
    depends_on:
      zitadel:
        condition: service_healthy
        restart: false

  db:
    restart: unless-stopped
    image: postgres:17
    environment:
      PGUSER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_ADMIN_PASSWORD:-postgres}
      POSTGRES_DB: ${ZITADEL_DATABASE_POSTGRES_DATABASE:-zitadel}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U postgres"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 20s
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=false"
    networks:
      - zitadel
    ports:
      - 5432:5432
    volumes:
      - 'data:/var/lib/postgresql/data:rw'

networks:
  zitadel:
    driver: overlay
    attachable: true
  traefik-net:
    external: true
    name: ${TRAEFIK_NETWORK:-edge-external}

volumes:
  data:
  zitadel-init-data:
